.discoverus{
  display:flex;
  flex-wrap: wrap;
}

.brand {
  display:flex;
  flex-wrap: wrap; 
  margin: 15px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.brand p {
	width: 70%;
	line-height: 25px;
}
.brand img {
	width: 250px;
	height: 250px;
	margin: 2px 10px;
}

