.container {
	width: 950px;
	margin: 30px auto;
}
.container-footer {
	background-color: #094956;
	color:white;
	margin:none;
}


@media (max-width: 960px) {
	.container {width: 800px}
	}

@media (max-width: 720px) {
	.container {width: 500px}
	}

@media (max-width: 540px) {
	.container {width: 300px}
	}

	
