.media {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
}

.media.flipped {
    flex-direction: row-reverse;
}

.media .content {
    flex: 3;
    padding-top: 60px;
    margin-top: 10px;
}

.media.flipped .content {
  padding-top: 40px;
}


.image img {
  max-width: 250px;
  flex:1;
  background-size: content;
  margin: 40px;
}



