.bannerparis {
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(255,255,255,0.2)), url(./../images/JolainParis2.png);
	color: white;
	padding-top: 40px, 0px, 5px, 90px;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;	
	height: 250px;
}


.bannerlisbon {
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(./../images/JolainLisbon2.png);
	color: white;
	padding-top: 90px;
	padding-left: 90px;
	background-position:25% 65%;
	background-size: cover;	
	height: 200px;
}


.bannermelbourne {
	background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(./../images/JolainMelbourne2.png);
	color: white;
	padding: 50px; 
	background-position: 5% 55%;
	background-size: cover;	
	margin:none;
	height: 200px;
}


.imagemodels img {
  width: 400px;
  flex:1;
  background-size: content;
  margin: 70px 20px;
  border-radius: 5px;
}

#lisbon img{
	width: 600px;
}

.price {
	color:#f2fce3;
	width: 90px;
	height: 30px;
	border-radius: 4px;
	align-items: center;
	font-weight: bolder;
}



.list-inline {
  list-style: none;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;

}

.list-inline li {
  display: inline;
  padding: 10px 30px;
}

.list-inline p {
  font-size:15px;
  color: #094956;
}
